<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="background-color: #fafafa">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navbar-text">
	        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 text-left">
	    		<a class="btn" href="https://www.facebook.com/pages/Junge-Gesellschaft-Barwedel/110315952382517?fref=ts&locale=de_DE" target="_blank">
	        		<i class="fa fa-facebook-square fa-2x" aria-hidden="true" title="Wir auf Facebook"></i>
	        	</a>
	        </div>
		    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 text-center" style="word-break: keep-all;">
	        	{{APP_INFO.copyright}}
	        	{{APP_INFO.year}}
	        </div>
	        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 text-right" ng-hide="true">
	        	<!-- <div class="btn-group btn-group-sm" role="group">-->
	        	<a class="btn" href="">
	        		<i class="fa fa-handshake-o fa-2x" aria-hidden="true" ng-click="goTo('/partner')" title="Unsere Partner"></i>
	        	</a>
	        	<!-- </div>-->
	        </div>
	    </div>
	  </div>
	</nav>
</footer>