<!DOCTYPE HTML>
<html>
    <head>
        <!-- Header -->
        <?php
        $title="Formular";
        $header="Formular";
        $wrapper="wrapper";
        include 'header.php';
        ?>

    </head>
    
    <body onload="self.focus(); document.adresse.name.focus()">
        <!-- Aufbau der Seite -->
        <?php
        include 'aufbau.php';
        ?>

        <div id="gast">
            Anregung oder Kritik? <br> Einfach Formular ausfüllen und abschicken. <br><br>
                
            <form action="versand.php" Method="post" name="adresse">
                
                Ihr Name:<br>
                <input name="name" size="40" id="input"></br>

                E-Mail:<br>
                <input name="mail" size="40" id="input"></br>
                
                Inhalt:</br>
                <textarea name="text" cols="40" rows="10" wrap="physical" id="textarea"></textarea><br>
                <input name="submit" type="submit" value="Absenden"><br><br>
            
            </form>

        </div>
        </br>
        
        <?php
        include 'ende.php';
        ?>

    </body>
</html>