<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="UTF-8"> <!-- fügt Europäische Umlaute hinzu -->
    <meta name="author" content="Michel Kühne"/>
    <meta name ="keywords" content="Junge Gesellschaft Barwedel, JGB, JG B, Barwedel, JG Barwedel, Junge Gesellschaft, JG Barwedel <?php echo $header; ?>, Junge Gesellschaft Barwedel <?php echo $header; ?>"/>
    <meta http-equiv="language" content="DE">


    <!-- Verlinkung mit der CSS Datei -->
    <link rel="stylesheet" type="text/css" href="../css/JGB.css">
    <style type ="text/css"></style>
    <link rel="shortcut icon" type="image/x-icon" href="bilder/Standard/favicon.ico" />


    <div id="background-mw">
        <img src="../bilder/Logo/logo.png" text-align="center" width="50%">
        <div id="text-mw">
            Vielen Dank für deinen Besuch auf unserer Website!</br>
            Leider ist unsere Seite noch nicht für Mobile Geräte optimiert.</br>
            Trotzdem kannst du diese auch mit deinem Smartphone nutzen.</br>
            Weiter zur Website:
        </div>
        
        <a href="http://www.jg-barwedel.de/"><img src="../bilder/Standard/jg-sau-blau1.png" width="20%" height="20%"></a>
        <a href="https://www.facebook.com/pages/Junge-Gesellschaft-Barwedel/110315952382517?fref=ts&locale=de_DE" target="_blank"><img src="../bilder/Standard/facebook.ico" width="20%" height="20%"></a>
        
        <div>
            © Junge Gesellschaft Barwedel 2016
        </div>
    </div>
</html>