<div class="content-infos">
	<h1 class="text-primary text-center">Unsere Veranstaltungen im Überblick</h1>
	
	<h2 class="page-header text-danger">Open Air</h2>
	<div>
	Unsere Open-Air Fete findet jährlich im September statt. Hier gibt es neben Live-Musik von jährlich wechselnden Bands auch gute Musik toller DJ's.</br> 
	Es ist unsere größte Veranstaltung, welche jährlich 600-800 Menschen in die Reithalle bringt und mit guter Musik und genügend Getränken versorgt.</br>
	</br>
	<b>Enstehung:</b></br>
	Als <b>1974</b> Joachim Dürheide <i>(1. Vorsitzender 1970 - 1976)</i> mit seinem Vorstands-Team die erste OPEN-AIR-FETE unter den Birken auf dem Festplatz <i>Am Dannebusch</i> veranstaltete, ahnte keines der 70 Mitglieder welchen Stellenwert diese Einrichtung einmal haben wird. Zu der vereinsinternen Veranstaltung wurde eine Live-Band engagiert. Der Erfolg gab Veranlassung, beim nächsten Mal auch Gäste einzuladen und so entwickelte sich von Jahr zu Jahr die OPEN-AIR-FETE in Barwedel, in den umliegenden Orten ein Symbol für gute Laune und guter Live-Musik. Aufgrund der Wetterverhältnisse wurde die Veranstaltung vorübergehend in ein Zelt und später in die Reithalle der <i>Reitervereinigung Barwedel</i> verlegt. Zu diesen Veranstaltungen strömen jetzt jährlich fast mehr Besucher als Barwedel Einwohner hat. Unter ihnen natürlich auch ehemalige Mitglieder, die den Verein und den Ort schon seit längerer Zeit verlassen haben.
	</div>
	
	<h2 class="page-header text-danger">Pfingsten</h2>
	<div>
		Nachdem das ganze Spektakel des Maibaum Schlagens vorrüber ist, steht auch schon das nächste große Event in Barwedel an: Pfingstzelten </br>
		Dieses wird gemeinsam bei gemütlichem Lagerfeuer und Bier über das lange Pfingstwochenende am Vereinsheim der Landmaschinenfreunde Barwedel verbracht. </br>
		In der Nacht von Samstag auf Sonntag müssen sich die Bewohner von Barwedel jedoch in acht nehmen. Denn zu dieser Zeit gehen die Pfingstochsen durchs Dorf und machen ihre Streiche. </br>
		Ebenfalls eine lang zurückreichende Tradition ist dar "Katerstieg". Diesen bekommen (jedes Jahr aufs neue) zwei Dorfbewohner, die im vergangenen Jahr etwas miteinander gehabt hatten, oder auch nicht.
	</div>
	
	<h2 class="page-header text-danger">Fasching</h2>
	<div>
		Die Faschingszeit läutet traditionell das Jahr der JGB ein. Ganz im Stile der großen Vorbilder wie Köln, Mainz und anderswo werden auch in Barwedel Festwagen und andere Gefährte hergerichtet um anschließend kostümiert als Jecken durch das Dorf zu ziehen. </br>
		Die Dorfbewohner, welche das Spektakel jedes Jahr aufs neue Erwarten, erfreuen sich über die kreativität der individuellen kostümierten JG-Mitglieder und über die Festwagen. </br>
		Diese Freude bringen sie in Form einer kleinen Spende, welche zumeist aus Eiern, Wurst, Alkohol aber auch Geld besteht, zum Ausdruck. </br>
		Die so eingenommen Waren werden dann am Abend bei dem sogenannten "Fasselabend" verspeist und mit dem vom Geld gekauften Bier heruntergespühlt. </br>
		Natürlich wird auch das beste Kostüm prämiert und bekommt einen Preis. </br>
		Traditionell findet am darauf folgenden Tag das von den Kindern sehnlichst erwartete Kinderfasching statt.
	</div>
	
	<h2 class="page-header text-danger">Maibaum</h2>
	<div>
		Alles begann am Abend des <b>30. Aprils 1994</b>. An diesem Tag trafen sich die Mitglieder der Jungen Gesellschaft zum ersten Mal, um in der Barwedeler Gemarkung nach einer geeigneten Birke Ausschau zu halten, die im Ortskern als Maibaum aufgestellt werden konnte. Das Fällen des Baumes war natürlich Frauensache. </br> 
		Kurz die traditionellen Regeln erklärt : Bevor die Frauen die Axt überhaupt in die Hand bekommen, müssen diese einen Kurzen trinken und einen Purzelbaum machen. </br>
		Nachdem die Männer markiert haben, wo der Baum geschlagen werden soll, beginnt auch das eigentlich "fällen". </br>
		Die Frauen müssen hierbei versuchen, dass die Axt mit dem dritten Schlag im Baum stecken bleibt, ist dies nicht der Fall müssen sie für jeden weiteren Schluck einen Kurzen trinken. </br>
		Diejenige, welche den Baum zu Fall bringt, bekommt nicht nur einen Kurzen, nein, sie bekommt gleich die restliche Flasche Schnaps zum trinken. </br>
		Außerdem dürfen während der gesamten Zeit Holzspezifische Wörter wie zum Beispiel "Axt" oder "Wald" nicht erwähnt werden. </br>
		Anschließend am <b>01.05.</b> jeden Jahres wird der Baum im Park von Barwedel aufgestellt und mit reichlich Gegrilltem und Bier besiegelt.
	</div>
	
	<h2 class="page-header text-danger">Bobby Car Rennen</h2>
	<div>
		Seit <b>2015</b> haben wir ein neues Event in unserem Kalender, und dieses kommt sehr gut an. </br>
		Aufgerufen sind Teilnehemer von Jung bis Alt, die mit ihren getunten oder ungetunten Bobby-Cars den Schusterberg runterfahren, um den Pokal nach Hause zu bringen.</br>
		Natürlich ist auch für das leibliche Wohl der Zuschauer gesorgt:</br> Zusammen mit Salaten dürfen wir auf dem Grundstück von Heidi und Adi Grotepaust unseren Brat-Hot Dog servieren.
	</div>
	
	
	<div ng-hide="true">
	<h2 class="page-header text-danger">Beer Adventure Race</h2>
	<div>
		########## Text zur Beschriebung vom BAR #########
	</div>
	</div>
	
	</br>
	<h4 class="text-success">
		Welche Veranstaltungen wir dieses Jahr austragen, kannst du unter dem Menüpunkt <a ng-click="goTo('/aktuell')" role="button">Aktuell</a> herausfinden
	</h4>
</div>