<div>
	Seit 2015 haben wir ein neues Event in unserem Kalender, und dieses kommt sehr gut an. </br>
	Aufgerufen sind Teilnehemer von Jung bis Alt, die mit ihren getunten oder ungetunten Bobby-Cars den Schusterberg runterfahren, um den Pokal nach Hause zu bringen.</br>
	Natürlich ist auch für das leibliche Wohl der Zuschauer gesorgt:</br> Zusammen mit Salaten dürfen wir auf dem Grundstück von Heidi und Adi Grotepaust unseren Brat-Hot Dog servieren.</br> </br>
	Wir freuen uns auch in diesem Jahr wieder auf viele Teilnehmer und wünschen allen schon einmal auf diesem Wege viel Erfolg und jede Menge Spaß.</br> </br></br>
</div>