<div>
	Die Faschingszeit läutet traditionell das Jahr der JGB ein. Ganz im Stile der großen Vorbilder wie Köln, Mainz und anderswo werden auch in Barwedel Festwagen und andere Gefährte hergerichtet um anschließend kostümiert als Jecken durch das Dorf zu ziehen. </br>
	Die Dorfbewohner, welche das Spektakel jedes Jahr aufs neue Erwarten, erfreuen sich über die kreativität der individuellen kostümierten JG-Mitglieder und über die Festwagen. </br>
	Diese Freude bringen sie in Form einer kleinen Spende, welche zumeist aus Eiern, Wurst, Alkohol aber auch Geld besteht, zum Ausdruck. </br>
	Die so eingenommen Waren werden dann am Abend bei dem sogenannten "Fasselabend" verspeist und mit dem vom Geld gekauften Bier heruntergespühlt. </br>
	Natürlich wird auch das beste Kostüm prämiert und bekommt einen Preis. </br>
	Traditionell findet am darauf folgenden Tag das von den Kindern sehnlichst erwartete Kinderfasching statt. </br></br>
	Unten seht Ihr einige Bilder vom wilden Treiben in der Faschingzeit
</div>