<!DOCTYPE HTML>
<html>
    <head>
        <!-- Header -->
        <?php
        $title="Gründung";
        $header="Gründung";
        $wrapper="wrappergrund";
        include 'header.php';
        ?>

    </head>

    <body>
        <!-- Aufbau der Seite -->
        <?php
        include 'aufbau.php';
        ?>

        <div id="grundcont">
            <h1>3. Juli 1967</h1></br>
            Im Rahmen der Vorbereitung zum Polterabend von Renate und Horst Bender (Kranzbinden auf dem alten Saal bei Kelsch) haben die anwesenden jungen Leute beschlossen, einen Verein für junge Leute in Barwedel zu gründen.</br>
            Für den 3. Juli 1967 wird ein Termin vereinbart, an dem sich alle Jugendlichen aus Barwedel und näherer Umgebung, die mindestens 16 Jahre alt sind, in der Gaststätte "Heidekrug" (Inhaberin: Alma Kelsch) in Barwedel versammeln, um einen Verein ins Leben zu rufen, in der die Jugend zu einer Gemeinschaft heranwachsen kann.</br>
            Unter anderem erschienen an diesem Abend:  Klaus + Willi Burgstaller, Bernd Calik, Heinrich + Joachim Dürheide, IIse Figuli, Jürgen Gajewski, Ingo Gaube, Rainer Gödecke, Wilhelm Grotjahn, Edeltraut Koch, Gerhard + Karl-Heinz Kull, Horst Ladendorf,
            Herbert Leusmann, Rolf Lihs, Gerd Mertens, Arno Michel, Horst Pommeranz, Lothar Schiffers, Arnold Schmidt, Helmut Trump, Dieter + Herbert Ziegenbein, Magdalena Zmuda.</br>
            Die Versammlung wird pünktlich um 20:00 Uhr von Karl-Heinz Kull eröffnet. Die Anwesenden werden herzlich begrüßt und auf das Vorhaben hingewiesen, dass es an der Zeit ist, einen eigenen Verein zu gründen, der den  Barwedeler Jugendlichen einen Zusammenhalt gibt  und in dem sie gemeinschaftlich Brauchtum pflegen können.</br>
            Die 35 anwesenden Personen sind sich sehr schnell einig und gründen den Verein. </br> </br>

            <h2>Natürlich ist auch schnell ein Vorstand gefunden:</br></br></h2>
            1. Vorsitzende	Edeltraut Koch</br>
            2. Vorsitzender	Karl-Heinz Kull</br>
            Schriftführerin 	Ilse Figuli</br>
            Beisitzer	Joachim Dürheide</br>
            Kasse	Richard Kelsch</br>
            Kassierer	Bernd Calik</br>
            Kassenprüferin 	Magdalena Zmuda</br>  
            Kassenprüfer  	Heinrich Dürheide</br></br>
        </div>

        <?php include 'ende.php'; ?>

    </body>
</html>