<!DOCTYPE HTML>
<html>
    <head>
        <!-- Header -->
        <?php
        $title="G&auml;stebuch";
        $header="G&auml;stebuch";
        $wrapper="wrapper1";
        include 'header.php';
        ?>

    </head>

    <body onload="self.focus(); document.adresse.Name.focus()">
        <!-- Aufbau der Seite -->
        <?php
        include 'aufbau.php';

        include 'connect_db.php';

        if ($DB_Error  == 1){
            echo '<div id = "fehlerdb">';
            echo 'Es konnte keine Verbindung mit dem Gästebuch hergestellt werden.';
            echo '</div>';
            echo '</br>';
        }
        else{
            include 'gaestebuch_fill.php';

            echo '<div id = "gaestebuch">';
                include 'getData.php';
            echo '</div>';
            echo '</br>';
        }

        include 'ende.php';
        ?>
    </body>
</html>
