<h4 class="text-center col-lg-12 col-sm-12 col-xs-12">
    Hallo und herzlichen Willkommen auf der offiziellen Website der Jungen Gesellschaft Barwedel.</br>
    Hier findet ihr reichlich Informationen über uns, unsere Geschichte und unseren Veranstaltungen.</br>
</h4>
</br>

<div class="text-center col-lg-12 col-sm-6 col-xs-4">
    <div class="view-sixth">
        <img id="barwedelimg" src="resources/img/barwedel.jpg"/>
        
        <div class="mask">
            <a href="https://www.google.de/maps/place/Am+Funkberg+6,+38476+Barwedel/@52.5234132,10.7686213,17z/data=!4m5!1m2!2m1!1sBarwedel+Am+Funkberg+6!3m1!1s0x47af953d31f7ff17:0x311902874eba2237?hl=de" target="_blank"> Unser Treffpunkt </a>
        </div>
    </div>
</div>