<!DOCTYPE HTML>
<html>
    <head>
        <!-- Header -->
        <?php
        $title="Aktuelles";
        $header="Aktuelles";
        $wrapper="wrapper";
        include 'header.php';
        ?>

    </head>

    <body>
        <!-- Aufbau der Seite -->
        <?php
        include 'aufbau.php';
        ?>

        <div id="aktcont">
        Hier findest du unsere aktuellsten Informationen zu anstehenden Veranstaltungen für 2016:</br> </br>
        </div>

        <div id="aktinfo">
	        <p id="aktdate">29.04 - 01.05 Interne Fahrt ins Atomkraftwerk nach Kalkar</p>
	        	<p id="akttext">
	        	Um endlich wieder gemeinsam etwas zu Unternehmen, fahren wir zum Tanz in den Mai ins "Wunderland Kalkar"<br>
	        	Leider fällt dafür das Maibaum aufstellen aus :/ </br>
	       		Wir bitten um Verständnis und werden die Tradition im nächsten Jahr fortführen
	        	</p>
	        <p id="aktdate">13.05 - 16.05 Pfingstzelten</p>
	        	<p id="akttext">
	        	Auch dieses Jahr feieren wir wieder am Hangar über das verlängerte Wochenende unser Pfingstzelten.</br>
	        	Das Highlight: Am Samstag kommen die Pfingstochsen frei und stellen das Dorf auf den Kopf.</br>
	        	Gegen eine kleine Spende wirst du davon verschont ;)
	        	</p>
	        <p id="aktdate">04.06 Bobby Car Rennen</p>
	        	<p id="akttext">
	        	Nach erfolgreichem Einstieg ins Racer-Business findet auch dieses Jahr wieder unser Bobby Car Rennen am Schusterberg statt
	        	</p>
	        <p id="aktdate">10.09 Open Air Fete</p>
	        	<p id="akttext">
	        	Das Highlight im September: </br>
	        	Zum 42. Mal findet unsere Open Air Fete statt, welche dieses Jahr wieder unter dem Motto "Rock" stehen wird. </br>
	        	Scheut euch nicht, vorbei zu kommen!
	        	</p>
	        <p id="aktdate">10.12 Jahreshauptversammlung</p>

	        <p id="aktabschluss">
	        Wir freuen uns schon jetzt auf die tollen Veranstaltungen!</br>
	        Bis dann ;)
	        </p>
        </div>

        <div id="aktstand">
        Stand: 20.03.2016
        </div>

    	<?php include 'ende.php'; ?>

    </body>
</html>