<!DOCTYPE HTML>
<html>
    <head>
        <!-- Header -->
        <?php
        $title="Partner";
        $header="Partner";
        $wrapper="wrapperpart";
        include 'header.php';
        ?>

    </head>

    <body>
        <!-- Aufbau der Seite -->
        <?php
        include 'aufbau.php';
        ?>

        <div id="anderecont">
            Hier wollen wir euch unsere Partner vorstellen </br> </br> Auch diese würden sich über einen Besuch auf ihren Webseiten, sowie über neue Mitglieder sehr freuen.
        </div>
        
        <div id="partborder">
            <div id="ersteReihe"> 
                <a href="http://www.boldecker-land.de/index.php?%3FID=ha9pvn4p9aipdajve7mk8j2r25" target="_blank"><img src="../bilder/PartnerLogos/boldecker1.jpg"></a>
                <div> Samtgemeinde Boldecker Land </div></br>
                <a href="http://www.jgbrome.de/" target="_blank"><img src="../bilder/PartnerLogos/brome.gif"></a>
                <div> Junge Gesellschaft Brome </div></br>
                <a href="http://www.jglessien.de/index.php/de/" target="_blank"><img src="../bilder/PartnerLogos/jglessienlogo.jpg"></a>
                <div> Junge Gesellschaft Lessien </div></br>
                <a href="http://www.landkreis-gifhorn.de/" target="_blank"><img src="../bilder/PartnerLogos/wappen_gifhorn.jpg"></a>
                <div> Landkreis Gifhorn </div></br>
                <a href="http://www.big-sound.de/" target="_blank"><img src="../bilder/PartnerLogos/big-sound.jpg"></a>
                <div> Big-Sound </div></br>
            </div>

            <div id="zweiteReihe">
                <a href="http://home.arcor.de/ffwbarwedel/home.html" target="_blank"><img src="../bilder/PartnerLogos/fw-logoklein.jpg"></a>
                <div> Freiwillige Feuerwehr Barwedel</div></br>
                <a href="http://www.jgbergfeld.de/" target="_blank"><img src="../bilder/PartnerLogos/jgbergfeld.jpg"></a>
                <div> Junge Gesellschaft Bergfeld </div></br>
                <a href="http://www.rv-barwedel.de/" target="_blank"><img src="../bilder/PartnerLogos/logo-blau-rv.jpg"></a>
                <div> Reitvereinigung Barwedel </div></br>
                <a href="http://www.wildvikings-mc.com/Wolfsburg.htm" target="_blank"><img src="../bilder/PartnerLogos/wildvikings.jpg"></a>                    
                <div> Wild Vikings Wolfsburg </div></br>
                <a href="http://www.landmaschinenfreunde.de" target="_blank"><img src="../bilder/PartnerLogos/landmaschinenfreunde.jpg"></a>     
                <div> Historischen Landmaschinenfreunde Barwedel </div></br>
            </div>

            <div id="dritteReihe">
                <a href="https://www.jg-tuelau-fahrenhorst.de" target="_blank"><img src="../bilder/PartnerLogos/jg_tuelau.gif" ></a>
                <div> Junge Gesellschaft Tülau-Fahrenhorst </div></br>
                <a href="http://www.jghoitlingen.de/" target="_blank"><img src="../bilder/PartnerLogos/jg_hoitlingen.gif"></a>
                <div> Junge Gesellschaft Hoitlingen </div></br>
                <a href="http://www.sv-barwedel.de/" target="_blank"><img src="../bilder/PartnerLogos/svb.gif"></a>
                <div> SV Barwedel </div></br>
                <a href="http://www.jembkerwiesn.de" target="_blank"><img src="../bilder/PartnerLogos/wiesn.jpg"></a>                   
                <div> Jembker Wiesn </div></br>
                <a href="http://www.hufe-online.de" target="_blank"><img src="../bilder/PartnerLogos/hufe.png"></a>                   
                <div> HuFEvents </div></br>
            </div>
        </div>

        <?php
        include 'ende.php';
        ?>

    </body>
</html>