<div class="content-infos">
    <h1 class="text-primary text-center">Mitglied werden</h1></br>
    
	<h4 class="text-danger">
	Du bist 14 Jahre oder älter?</br>
	Du hast Bock ein Teil unserer Gemeinschaft zu sein?</br>
	Super! <i class="em em---1"></i></br>
	</h4></br>
	
	<h4 class="text-warning">
	Dann einfach die <a href="resources/download/Eintrittserklaerung.pdf" target="_self" download="Eintrittserklaerung.pdf" role="button"> PDF-Datei</a> runterladen, ausfüllen und per Anhang eingescannt an diese <a href="mailto:jg-barwedel@gmx.de?subject=Beitritt%20JG%20Barwedel" role="button"> E-Mail-Adresse</a> schicken. </br></br>
	</h4>
	
	<h3 class="text-success">Wir freuen uns auf jedes neue Mitglied und warten auf <b>dich!</b></h3>
</div>