<div class="content-infos">
    <h1 class="text-primary text-center">Gründung am 3. Juli 1967</h1></br>
    Im Rahmen der Vorbereitung zum Polterabend von Renate & Horst Bender <i>(Kranzbinden auf dem alten Saal bei Kelsch)</i> haben die anwesenden jungen Leute beschlossen, einen Verein für junge Leute in Barwedel zu gründen.</br></br>
    Für den <b>3. Juli 1967</b> wird ein Termin vereinbart, an dem sich alle Jugendlichen aus Barwedel und näherer Umgebung, die mindestens 16 Jahre alt sind, in der Gaststätte "Heidekrug" <i>(Inhaberin: Alma Kelsch)</i> in Barwedel versammeln, um einen Verein ins Leben zu rufen, in der die Jugend zu einer Gemeinschaft heranwachsen kann.</br>
    Unter anderem erschienen an diesem Abend:</br><i>Klaus & Willi Burgstaller, Bernd Calik, Heinrich & Joachim Dürheide, IIse Figuli, Jürgen Gajewski, Ingo Gaube, Rainer Gödecke, Wilhelm Grotjahn, Edeltraut Koch, Gerhard & Karl-Heinz Kull, Horst Ladendorf, Herbert Leusmann, Rolf Lihs, Gerd Mertens, Arno Michel, Horst Pommeranz, Lothar Schiffers, Arnold Schmidt, Helmut Trump, Dieter & Herbert Ziegenbein, Magdalena Zmuda</i>.</br></br>
    Die Versammlung wird pünktlich um 20:00 Uhr von <i>Karl-Heinz Kull</i> eröffnet. Die Anwesenden werden herzlich begrüßt und auf das Vorhaben hingewiesen, dass es an der Zeit ist, einen eigenen Verein zu gründen, der den  Barwedeler Jugendlichen einen Zusammenhalt gibt  und in dem sie gemeinschaftlich Brauchtum pflegen können.</br>
    Die <b>35</b> anwesenden Personen sind sich sehr schnell einig und gründen den Verein.</br>
    
    </br>
    <h4>Natürlich ist auch schnell ein Vorstand gefunden:</h4>
    
    <b>1. Vorsitzende</b>	Edeltraut Koch</br>
    <b>2. Vorsitzender</b>	Karl-Heinz Kull</br>
    <b>Schriftführerin</b>	Ilse Figuli</br>
    <b>Beisitzer</b>		Joachim Dürheide</br>
    <b>Kasse</b>			Richard Kelsch</br>
    <b>Kassierer</b>		Bernd Calik</br>
    <b>Kassenprüferin</b> 	Magdalena Zmuda</br>  
    <b>Kassenprüfer</b>  	Heinrich Dürheide</br>
</div>