<div class="content-infos">
	<h1 class="text-primary text-center">Die Junge Gesellschaft Barwedel</h1></br>
    <p>
    Wir bestehen aus über <b>50</b> ledigen Mitgliedern. Unser jüngstes Mitglied ist <i>15 Jahre</i> alt, unser ältestes über <i>50 Jahre</i>.
    Du siehst, die JGB besteht aus einem bunten Mix an Personen in unserem Dorf. <span ng-hide="true">Im Durchschnitt ist jeder JG-ler <i>XX-Jahre</i>.</span>Wird ein Mitglied frisch vermählt, scheidet dieses automatisch aus dem Verein aus.</br></br>
    
    Wir setzen uns für eine gute Dorfgemeinschaft ein und versuchen diese durch Aktionen am Leben zu erhalten. Beispielsweise veranstalten wir jährlich unsere Open-Air-Fete, welche viele Menschen, egal ob jung oder alt, Barwedler oder Auswärtiger, zusammenbringt.
    Damit hoffen wir natürlich auch die Bekanntheit Barwedels steigern zu können. Außerdem ist es uns wichtig, die Jugend in unserem Dorf zu fördern und diese in unserer Gruppe zu integrieren. Dadurch können sie von unseren alteingesessenen Mitgliedern viel lernen und bekommen früh Verantwortung im Verein. </br>
    
    </p>
    
    <p ng-hide="true">###### Foto der Mitglieder #####</p>
    </br>
    
	<h2 class="text-danger text-center">Der Vorstand</h2></br>
	
	<div ng-show="wasLoaded" class="text-center">
		<img class="imgBoardOfDirectors" src="resources/img/us/boardOfDirectors.JPG" imageonload="showImageContent()">
		
		<div class="namesBoardOfDirectors">
			<h5>von links</h5>
			<b>2.&nbsp;Schriftführerin</b> - Karla&nbsp;Hannig,
			<b>1.&nbsp;Kassenprüferin</b> - Lena&nbsp;Kuhnt,
			<b>2.&nbsp;Kassenwart</b> - Paul&nbsp;Bender,
			<b>1.&nbsp;Kassenwärtin</b> - Julia&nbsp;Michitsch,
			<b>2.&nbsp;Kassenprüferin</b> - Amy&nbsp;St&ouml;rmer,
			<b>2.&nbsp;Vorsitzender</b> - Tom&nbsp;Pypke,
			<b>3.&nbsp;Vorsitzender</b> - Lucas&nbsp;Spellig,
			<b>Ehrenvorsitzende</b> - Doreen&nbsp;Suckow,
            <b>1.&nbsp;Vorsitzender</b> - Phil&nbsp;Bender,
			<i>fehlend:</i> <b>1.&nbsp;Schriftführer</b> - Nick&nbsp;Sonntag
		</div>
	</div>
	<div class="text-center" ng-hide="wasLoaded">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
		<span class="sr-only">Bild wird geladen...</span>
	</div>
</div>
